<!DOCTYPE html>
<html>
<head>
<title><%=title%> &mdash; 임슐랭 가이드 IMCHELIN the GUIDE</title>
<meta name='viewport' content='width=device-width, user-scalable=no' />
<meta charset='UTF-8'>
<link rel='icon' type='image/x-icon' href='/favicon.ico' />
<link rel='stylesheet' href='/stylesheets/reset.css' />
<link rel='stylesheet' href='/stylesheets/fonts.css' />
<link rel='stylesheet' href='/stylesheets/theme/overwatch-layout.css' />
<link rel='stylesheet' href='/stylesheets/theme/overwatch-color.css' />
<style type='text/css'>
/*iPhone 6 Plus Portrait Mode - 1 Column*/
@media screen and (max-width: 414px) {
}
/*iPhone 6 Plus Landscape Mode - 2 Columns*/
@media screen and (min-width: 415px) and (max-width: 736px) {
}
/*iPad Pro Portrait Mode - 3 Columns*/
@media screen and (min-width: 737px) and (max-width: 1024px) {
}
/*iPad Pro Landscape Mode - 4 Columns*/
@media screen and (min-width: 1025px) and (max-width: 1366px) {
}
/*1080p - 5 Columns*/
@media screen and (min-width: 1367px) and (max-width: 1920px) {
}
/*OverFullHD - 5 Columns*/
@media screen and (min-width: 1921px) and (max-width: 2560px) {
}
</style>
<script type='text/javascript' src='/javascripts/jquery-3.1.0.min.js'></script>
<script type='text/javascript' src='/javascripts/jquery.quicksearch.js'></script>
<script type='text/javascript'>
$(function() {
});
</script>
</head>
<body class='overwatch'>
<header class='sysBar'>
    <h1><a href='/'>임슐랭 가이드 IMCHELIN the GUIDE</a></h1><ul class='apps'>
        <li><a href='/reviews'>평가</a></li><li><a href='/randoms'>랜덤</a></li><li><a href='/suggestions'>제안</a></li>
    </ul><ul class='systemFunc'>
        <li><a href='#'>로그인</a></li>
    </ul>
</header>
<!--<app>-->
<%-include(app)%>
<!--</app>-->
<footer style='display: none;'>
</footer>
</body>
</html>