<!DOCTYPE html>
<html>
<head>
<title>임슐랭 가이드 IMCHELIN the GUIDE</title>
<meta name='viewport' content='width=device-width, user-scalable=no' />
<meta charset='UTF-8'>
<link rel='icon' type='image/x-icon' href='/favicon.ico' />
<link rel='stylesheet' href='/stylesheets/reset.css' />
<link rel='stylesheet' href='/stylesheets/fonts.css' />
<link rel='stylesheet' href='/stylesheets/theme/overwatch-layout.css' />
<link rel='stylesheet' href='/stylesheets/theme/overwatch-color.css' />
<style type='text/css'>
body.overwatch > div.app > div.view {margin: 0;}
body > div.app > div.view {margin: 0;}
body > div.app > div.view > section.articles > h3 {padding: 2rem 2rem; text-align: center; font-size: 4rem; text-shadow: 0 .1em .15em rgba(60,72,96,.75);}
body > div.app > div.view > section.articles > article {text-align: center;}
body > div.app > div.view > section.articles > article:nth-child(2) {background: #F0EEF3;}
body > div.app > div.view > section.articles > article:nth-child(3) {background: #FFF;}
body > div.app > div.view > section.articles > article:nth-child(4) {background: #F0EEF3;}
body > div.app > div.view > section.articles > article:nth-child(5) {background: #FFF;}
body > div.app > div.view > section.articles > article:nth-child(6) {background: #F0EEF3;}
body > div.app > div.view > section.articles > article > h4 {margin-bottom: 2rem; font-size: 3rem;}
body > div.app > div.view > section.articles > article > blockquote {margin-bottom: 2rem; font-size: 2em;}
body > div.app > div.view > section.articles > article > p {text-align: center; line-height: 2em;}
body > div.app > div.view > section.articles > article > form {font-family: 'NanumBarunGothic'; font-size: 2em;}
body > div.app > div.view > section.articles > article > form input {background: transparent; padding: .5rem 0; border: 0; border-bottom: 1px solid;}
body > div.app > div.view > section.articles > article > form > div:last-child {margin: 1rem 0 0 0;}
body > div.app > div.view > section.articles > article > form > div:last-child > button {font-family: 'koverwatch';}
/*iPhone 6 Plus Portrait Mode - 1 Column*/
@media screen and (max-width: 414px) {
}
/*iPhone 6 Plus Landscape Mode - 2 Columns*/
@media screen and (min-width: 415px) and (max-width: 736px) {
}
/*iPad Pro Portrait Mode - 3 Columns*/
@media screen and (min-width: 737px) and (max-width: 1024px) {
}
/*iPad Pro Landscape Mode - 4 Columns*/
@media screen and (min-width: 1025px) and (max-width: 1366px) {
}
/*1080p - 5 Columns*/
@media screen and (min-width: 1367px) and (max-width: 1920px) {
}
/*OverFullHD - 5 Columns*/
@media screen and (min-width: 1921px) and (max-width: 2560px) {
}
</style>
<script type='text/javascript' src='/javascripts/jquery-3.1.0.min.js'></script>
<script type='text/javascript' src='/javascripts/jquery.quicksearch.js'></script>
<script type='text/javascript'>
$(function() {
    $('input[type=email]').blur(function() {
		console.log(this.value.substr(-10));
		if(this.value==''||this.value==null)
			this.value = "";
		else if(this.value.substr(-10)!="@fasoo.com")
			this.value += "@fasoo.com";
	});
});
</script>
</head>
<body class='overwatch'>
<header class='sysBar'>
    <h1><a href='/'>임슐랭 가이드 IMCHELIN the GUIDE</a></h1><ul class='apps'>
        <li><a href='/reviews'>평가</a></li>
        <li><a href='/randoms'>랜덤</a></li>
        <li><a href='/suggestions'>제안</a></li>
    </ul>
    <ul class='systemFunc'>
        <li><a href='/users'>로그인</a></li>
    </ul>
</header>
<div class='app'>
    <div class='view'>
        <section class='articles'>
            <h3>로그인</h3>
            <article>
                <form action='/users' method='post'>
                    <div><input type='email' name='email' placeholder='AD계정 아이디' /></div>
                    <div><input type='password' name='password' placeholder='AD계정 암호' /></div>
                    <div><button class='orange' type='submit'>로그인하기</button></div>
                </form>
            </article>
        </section>
    </div>
</div>
<footer style='display: none;'>
</footer>
<script>

</script>
</body>
</html>