<section class='filter'>
    <ul style='display: none;'>
        <li><input type='checkbox' name='tag' value='KGIT푸드코트' />KGIT푸드코트</li>
        <li><input type='checkbox' name='tag' value='DDMC푸드코트' />DDMC푸드코트</li>
    </ul>
</section>

<section class='articles' style='text-align: center;'>
    <h3 style='color: #FFF; padding: 1em 0 0 0;'>랜덤 선택</h3>
    <article>
        <section class='result'>
            <img src='/images/cardback-overwatch.png' style='width: 14rem;' />
        </section>
        <section>
            <ul class='input' id='tags'>
                <li class='selected'>KGIT푸드코트</li>
                <li>DDMC푸드코트</li>
            </ul>
        </section>
        <section>
            <button type='button' class='orange' style='padding: .5rem 4rem;'><img src='/images/dice-fff.png' style='height: 2rem;' /></button>
        </section>
    </article>
</section>