<style type='text/css'>
body.overwatch {background: #000;}
body {background: #000;}
</style>
<div class='app' style=''>
    <div class='appBar'>
        <h2><a href='/randoms'>랜선웨어: 랜덤선택 프로그램</a></h2>
        <ul>
            <li><a href='#'>랜덤 선택</a></li>
        </ul>
    </div>
    <div class='view' style='margin: 0;'>
<!--<view>-->
<%-include(view)%>
<!--</view>-->
    </div>
</div>
<script type='text/javascript'>
$(function() {
    $('ul.input#tags li').click(function() {
        $('ul.input#tags li').removeClass('selected');
        $(this).addClass('selected');
        /*
        if($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        } else {
            $(this).addClass('selected');
        }
        */
    });
});

$.get('/api/getDishes', function(data) {
    var tableDishes = JSON.parse(data);
    var db;
    var request = indexedDB.open('imchelin', 2);
    request.onerror = function(event) {
        console.log('DB NOT Opened');
        console.log(event);
    };
    request.onupgradeneeded = function(event) {
        var db = event.target.result;
        
        var objectStore = db.createObjectStore('dishes', {keyPath: 'no'});
        objectStore.createIndex('name', 'name', {unique: false});
        objectStore.createIndex('description', 'description', {unique: false});
        objectStore.createIndex('price', 'price', {unique: false});
        objectStore.createIndex('grade', 'grade', {unique: false});
        objectStore.createIndex('title', 'title', {unique: false});
        objectStore.createIndex('comment', 'comment', {unique: false});
        objectStore.createIndex('restaurants_no', 'restaurants_no', {unique: false});
        objectStore.createIndex('restaurants', 'restaurants', {unique: false});
        objectStore.createIndex('tags', 'tags', {unique: false});

        tableDishes.forEach(function(value, index) {
            objectStore.add(value);
        });
        
        console.log('DB Upgraded');
    }
    request.onsuccess = function(event) {
        console.log('DB Opened');
        db = event.target.result;
        
        var transaction = db.transaction('dishes');
        var objectStore = transaction.objectStore('dishes');
        var index = objectStore.index('name');

        /*
        var request = objectStore.get(1);
        request.onerror = function(event) {
            console.log('Transaction Failed');
            console.log(event);
        }
        request.onsuccess = function(event) {
            console.log('Transaction Success');
            console.log(event.target.result);
        }
        */

        function getRandomInt (min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        //SELECT * FROM dishes WHERE name LIKE keyword;
        var keyword = '비빔';
        var temp = new Array;
        var transaction = db.transaction('dishes');
        var objectStore = transaction.objectStore('dishes');
        var index = objectStore.index('name');
        var request = index.openCursor();
        request.onerror = function(event) {
            console.log('Cursor Error');
            console.log(event);
        }
        request.onsuccess = function(event) {
            var cursor = event.target.result;
            if(cursor) {
                if(cursor.value.name.indexOf(keyword) !== -1) {
                    //console.log(cursor.value);
                    //temp.push(cursor.value);
                    temp.push(cursor.value);
                }
                cursor.continue();
            } else {
                //console.log(temp.length);
                $('button.orange').click(function() {
                    var res = temp[getRandomInt(0, temp.length-1)];
                    $('section.result')[0].innerHTML = "<div class='card'>" + res.name + "<br />(" + res.restaurants + ")</div>";
                    console.log(res);
                });
            }
        }
        /*
        //SELECT * FROM dishes WHERE name LIKE 'keyword%';
        var request = index.openCursor(IDBKeyRange.bound(keyword, keyword + '\uffff'));
        request.onerror = function(event) {
            console.log('Cursor Error');
            console.log(event);
        }
        request.onsuccess = function(event) {
            var cursor = event.target.result;
            if(cursor) {
                //if(cursor.value.name.substr(0, keyword.length) == keyword) {
                if(cursor.value.name.indexOf(keyword) !== -1) {
                    console.log('Found!');
                } else {
                    console.log('NotFound!');
                }
                console.log(cursor.value);
                cursor.continue();
            } else {
                console.log('End Of Entries');
            }
        };
        */
    }; 
});

</script>