<section class='articles'>
    <h3>음식</h3>
	<article>
		<h4></h4>
        <section class='review'>
            <div class='stars'></div>
            <div class='ffff'></div>
        </section>
        <section class='comments'>
            코멘트 받아오기
        </section>
	</article>
</section>