<div class='app' style=''>
    <div class='appBar'>
        <h2><a href='/reviews'>평가</a></h2>
        <ul>
            <li><a href='#'>기능1</a></li>
        </ul>
    </div>
    <div class='view'>
<!--<view>-->
<%-include(view)%>
<!--</view>-->
    </div>
</div>