@font-face {
	font-family:'Koverwatch';
	font-style: normal;
	font-weight: 400;
    src:url(/fonts/koverwatch..eot);
	src:url(/fonts/koverwatch.eot?#iefix) format('embedded-opentype'),
	url(/fonts/koverwatch.woff) format('woff'),
	url(/fonts/koverwatch.ttf) format('truetype');
}
body.overwatch {font-family: 'Koverwatch';}
body.overwatch p {font-family: 'Koverwatch'; line-height: 1.5em; margin-top: 2rem;}

body.overwatch header {position: fixed; top: 0; left: 0; right: 0;}
body.overwatch header * {display: inline-block;}
body.overwatch header a {height: 1rem; padding: 1.5em 1em;}
body.overwatch header > ul {font-size: 0;}
body.overwatch header > ul * {font-size: 1rem;}
body.overwatch header > ul.apps > li > a {border-left: 1px solid;}
body.overwatch header > ul.systemFunc > li > a {border-left: 1px solid;}

body.overwatch h1, body.overwatch h2, body.overwatch h3, body.overwatch h4, body.overwatch h5, body.overwatch h6 {font-style: italic;}
body.overwatch h2 {font-size: 3em;}
body.overwatch h3 {font-size: 2.5em;}
body.overwatch h4 {font-size: 2em;}
body.overwatch h6 {font-size: 1.5em;}
body.overwatch h6 {font-size: 1em;}

body.overwatch section.articles {display: inherit; }
body.overwatch article {padding: 2rem;}
body.overwatch article > p, body.overwatch article > section {margin: 1rem 0 0 0;}

body.overwatch ul.input {font-size: 0; cursor: pointer;}
body.overwatch ul.input * {display: inline-block; font-size: 1rem; padding: 1rem;}
body.overwatch ul.input > li {border-left: 1px solid;}
body.overwatch ul.input > li:first-child {border: 0; border-radius: .1em 0 0 .1em;}
body.overwatch ul.input > li:last-child {border-radius: 0 .1em .1em 0;}

body.overwatch button, body.overwatch a.button {display: inline-block; padding: .5em 2em; border: .1em solid; border-radius: .1em;}
body.overwatch a.button:hover {text-decoration: none;}

body.overwatch div.card {display: inline-block; width: 12em; padding: 9.5em 1em; border-radius: .5em;}

/*iPhone 6 Plus Portrait Mode - 1 Column*/
@media screen and (max-width: 414px) {
    body.overwatch header {text-align: center;}
    body.overwatch header ul.apps {display: none;}
    body.overwatch header ul.systemFunc {display: none;}
    body.overwatch > div.app {margin: 4rem 0 0 0;}
        body.overwatch > div.app > div.appBar {display: none;}
}
/*iPhone 6 Plus Landscape Mode - 2 Columns*/
@media screen and (min-width: 415px) and (max-width: 736px) {
    body.overwatch header {text-align: center;}
    body.overwatch header ul.apps {display: none;}
    body.overwatch header ul.systemFunc {display: none;}
    body.overwatch > div.app {margin: 4rem 0 0 0;}
        body.overwatch > div.app > div.appBar {display: none;}
}
/*iPad Pro Portrait Mode - 3 Columns*/
@media screen and (min-width: 737px) and (max-width: 1024px) {
    body.overwatch header ul.systemFunc {float: right;}
    body.overwatch > div.app {margin: 4rem 0 0 0;}
        body.overwatch > div.app > div.appBar {position: fixed; right: 0; left: 0;}
            body.overwatch > div.app > div.appBar * {display: inline-block;}
            body.overwatch > div.app > div.appBar a {height: 1rem; padding: 1rem;}
            body.overwatch > div.app > div.appBar > h2 {font-size: 1rem;}
        body.overwatch > div.app > nav {position: fixed; top: 7rem; bottom: 0; left: 0; width: 10rem; padding: 1rem;}
        body.overwatch > div.app > div.view {margin: 0 0 0 12rem; padding: 3rem 0 0 0;}
}
/*iPad Pro Landscape Mode - 4 Columns*/
@media screen and (min-width: 1025px) and (max-width: 1366px) {
    body.overwatch header ul.systemFunc {float: right;}
    body.overwatch > div.app {margin: 4rem 0 0 0;}
        body.overwatch > div.app > div.appBar {position: fixed; right: 0; left: 0;}
            body.overwatch > div.app > div.appBar * {display: inline-block;}
            body.overwatch > div.app > div.appBar a {height: 1rem; padding: 1rem;}
            body.overwatch > div.app > div.appBar a:hover {text-decoration: none;}
            body.overwatch > div.app > div.appBar > h2 {font-size: 1rem;}
        body.overwatch > div.app > nav {position: fixed; top: 7rem; bottom: 0; left: 0; width: 10rem; padding: 1rem;}
        body.overwatch > div.app > div.view {margin: 0 0 0 12rem; padding: 3rem 0 0 0;}
}
/*1080p - 5 Columns*/
@media screen and (min-width: 1367px) and (max-width: 1920px) {
    body.overwatch header ul.systemFunc {float: right;}
    body.overwatch > div.app {margin: 4rem 0 0 0;}
        body.overwatch > div.app > div.appBar {position: fixed; right: 0; left: 0;}
            body.overwatch > div.app > div.appBar * {display: inline-block;}
            body.overwatch > div.app > div.appBar a {height: 1rem; padding: 1rem;}
            body.overwatch > div.app > div.appBar a:hover {text-decoration: none;}
            body.overwatch > div.app > div.appBar > h2 {font-size: 1rem;}
        body.overwatch > div.app > nav {position: fixed; top: 7rem; bottom: 0; left: 0; width: 10rem; padding: 1rem;}
        body.overwatch > div.app > div.view {margin: 0 0 0 12rem; padding: 3rem 0 0 0;}
}
/*OverFullHD - 5 Columns*/
@media screen and (min-width: 1921px) and (max-width: 2560px) {
    body.overwatch header ul.systemFunc {float: right;}
    body.overwatch > div.app {margin: 4rem 0 0 0;}
        body.overwatch > div.app > div.appBar {position: fixed; right: 0; left: 0;}
            body.overwatch > div.app > div.appBar * {display: inline-block;}
            body.overwatch > div.app > div.appBar a {height: 1rem; padding: 1rem;}
            body.overwatch > div.app > div.appBar a:hover {text-decoration: none;}
            body.overwatch > div.app > div.appBar > h2 {font-size: 1rem;}
        body.overwatch > div.app > nav {position: fixed; top: 7rem; bottom: 0; left: 0; width: 10rem; padding: 1rem;}
        body.overwatch > div.app > div.view {margin: 0 0 0 12rem; padding: 3rem 0 0 0;}
}